

.btn-new{
  position: absolute;
    width: 200px;
    left: 20%;
    display: block;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.gameScore{
  font-size: 80px;
  font-weight: 100;
  color: #EB4D4D;
  margin-bottom: 130px;
}


#game{
    display: block;
    width: 375px;
    height: 467px;
    background: grey;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
#controls {
    background-color: black;
    border: 1px solid black;
    width: 375px;
    height: 200px;
    margin: 0;
    padding: 0;
    }

.hitbox{
    width: 40px;
    height: 40px;
    background-color:darkblue;
    border: 0px;
}
#north{
    position: relative;
    top: 50px ;
    left: 168px;
}
#south{
    position: relative;
    top: 150px;
    left: 123px;
}
#west{
    position: relative;
    top: 100px;
    left: 30px;
}
#east{
position: relative;
top: 100px;
left: 85px;
}
i {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    position: relative;
    left: -5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    position: relative;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    position: relative;
    top: 2px;
    left: -1px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    position: relative;
    left: 0px;
    top: -2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }