
 body {
  width: 375px;
  height: 667px;
 }
#first{
  background-image: url(images/zombiestart.png);
  background-size: cover;
  display: block;
  width: 375px;
  height: 667px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.btn-new{
  position: relative;
  top: -100px;
    width: 100px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    color: black;
    background: none;
    border: solid;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    
}

#gameScore{
  display: none;
  left: 10px;
  top: 0px;
  position: relative;
  font-size: 40px;
  font-weight: 100;
  color: #EB4D4D;
  
}


#game{
  background-image: url("images/layer1.png");
  position: absolute;
    width: 375px;
    height: 467px;
    display: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
#controls {
    background-color: black;
    border: 1px solid black;
    width: 375px;
    height: 200px;
    margin-bottom: 0;
    top: 420px;
    padding: 0;
    display: none;
    position: relative;
    }

.hitbox{
    width: 40px;
    height: 40px;
    background-color:darkblue;
    border: 0px;
}
#north{
    position: relative;
    top: 50px ;
    left: 168px;
}
#south{
    position: relative;
    top: 150px;
    left: 123px;
}
#west{
    position: relative;
    top: 100px;
    left: 30px;
}
#east{
position: relative;
top: 100px;
left: 85px;
}
i {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    position: relative;
    left: -5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    position: relative;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    position: relative;
    top: 2px;
    left: -1px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    position: relative;
    left: 0px;
    top: -2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }